<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

    <div>
        <dl th:unless="${#lists.isEmpty(books)}">
          <dl th:each="book : ${books}">
              <dt>
                  <span th:text="${book.title}">title</span>
                  <span th:text="${book.author}">author</span>
                  <span th:text="${book.isbn}">isbn</span>
                  <span th:if="${book.description}" th:text="${book.description}">description</span>
                  <span th:if="${book.description eq null}">no</span>
              </dt>

          </dl>
        </dl>
    </div>
    <div th:if="${#lists.isEmpty(books)}">
        <p> empty</p>
    </div>
 <form method="post">

     <input type="text" name="title" size="50">
     <input type="text" name="author" size="50">
     <input type="text" name="isbn" size="50">
     <input type="text" name="description" size="50">
     <input type="submit"  size="50">

 </form>

</body>
</html>